<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>

    <title>Profile info: </title>
</head>
<body>
<ul>
    <li th:each="err : ${#fields.errors('person.*')}" th:text="${err}" />
</ul>


<h4> <a href="#" th:href="@{/hostAndTravel/mainPage.html}"><- back to main page </a> </h4>


<form action="#" th:action="@{/hostAndTravel/saveProfile.html}" th:object="${person}"
      method="post">
    <fieldset>
        <input type="submit" id="submitButton" th:value="Save">
        <table>
            <thead>
            <tr>
                <th> First Name </th>
                <th> Last Name </th>
                <th> Email </th>
                <th> Gender </th>
                <th> BirthDate </th>
                <th> About me </th>
                <th> Birthdate </th>
                <th> City </th>
                <th> Available for hosting </th>
            </tr>
            </thead>
            <tbody>


            <td><input th:field="*{firstName}" required="required" /></td>
            <td><input th:field="*{lastName}" required="required" /></td>
            <td><input readonly th:field="*{email}" required="required" /></td>
            <td><input readonly th:field="*{gender}" required="required"</td>
            <td><input type ="date" readonly th:field="*{birthdate}" required="required " /></td>
            <td><input th:field="*{aboutMe}" required="required" /></td>
            <td><input type="date" readonly th:field="*{birthdate}" required="required"/></td>


           <!-- <td>
                <select class="form-control">  this is not important,only city is passed to form
                   <option value="0">select country</option>
                    <option th:each="country : ${allCountries}" th:value="${country.countryName}" th:text="${country.countryName}"></option>
                </select>
            </td> -->
            <td>
                <select class="form-control"  th:field="*{city}">
                    <option value="0">select city</option>
                    <option th:each="city : ${allCities}" th:value="${city.cityName}" th:text="${city.cityName}"></option>
                </select>
            </td>

            <td>
                <input type="checkbox" th:checked="${person.isHosting}" th:field="${person.isHosting}" />



            </td>

            <td><input th:field="*{idPerson}" required="required" hidden/></td>
            <td><input th:field="*{isActive}" required="required" hidden/></td>
            <td><input th:field="*{hashedPassword}" required="required" hidden/></td>

            </tbody>
        </table>
    </fieldset>
</form>

</body>
</html>