<!DOCTYPE html>
<html lang="en" xmlns:custom="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h4> <a href="#" th:href="@{/hostAndTravel/mainPage.html}"><- back to main page </a> </h4>

<h1>Sent requests:</h1>
<tr th:each="request: ${sentRequests}">
    <label>status:</label>
    <td th:text="${request.status}" />
    <br>
    <label>start date:</label>
    <td th:text="${request.startDate}" />
    <br>
    <label>end date :</label>
    <td th:text="${request.endDate}" />
    <br>
    <label>host:</label>
    <a href="#" th:href="@{/hostAndTravel/profile.html(id=${request.host.idPerson})}"> <td th:text="${request.host.firstName}" /> </a>
    <br>
    <br>
    <br>
    <br>
</tr>
<br>
<br>
<br>
<br>

<h1>Incoming requests</h1>
<tr th:each="request: ${receivedRequests}">
    <label>status:</label>
    <td th:text="${request.status}" />
    <br>
    <label>start date:</label>
    <td th:text="${request.startDate}" />
    <br>
    <label>end date :</label>
    <td th:text="${request.endDate}" />
    <br>
    <label>traveler:</label>
    <a href="#" th:href="@{/hostAndTravel/profile.html(id=${request.traveler.idPerson})}"> <td th:text="${request.traveler.firstName}" /> </a>
    <br>
    <span th:if="${request.status == 'Pending'}">
        <input id="accept-request" type="button"  value="save"> Accept request </input>
        <input id="decline-request" type="button"  value="save"> Decline request </input>
       <h4> <a th:href="@{/hostAndTravel/acceptRequest.html(id=${request.idRequest})}" custom:linkMethod="post">Accept request (NOT WORKING)</a></h4>
        <h4><a th:href="@{/hostAndTravel/declineRequest.html(id=${request.idRequest})}" custom:linkMethod="post">Decline request (NOT WORKING)</a></h4>
    </span>

    <br>
    <br>
    <br>
</tr>
</body>
</html>
<script>
    $(function() {
        $('#accept-request').click(acceptRequest);
        $('#decline-request').click(declinerequest);
    });


    function acceptRequest(){
        $.ajax({
            method: "POST",
            url: "/your/action/endpoint",
            data: $('#idYourForm').serialize(),
            success: function(status){
                if(status) {
                    //here you check the response from your controller and add your business logic
                }
            }
        });
    }
    function declinerequest(){
        $.ajax({
            method: "POST",
            url: "/your/action/endpoint",
            data: $('#idYourForm').serialize(),
            success: function(status){
                if(status) {
                    //here you check the response from your controller and add your business logic
                }
            }
        });
    }
</script>