<!DOCTYPE html>
<html lang="en" xmlns:custom="http://www.w3.org/1999/xhtml">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h4> <a href="#" th:href="@{/hostAndTravel/mainPage.html}"><- back to main page </a> </h4>

<h1>Sent requests:</h1>
<tr th:each="request: ${sentRequests}">
    <label>status:</label>
    <td th:text="${request.status}" />
    <br>
    <label>start date:</label>
    <td th:text="${request.startDate}" />
    <br>
    <label>end date :</label>
    <td th:text="${request.endDate}" />
    <br>
    <label>host:</label>
    <a href="#" th:href="@{/hostAndTravel/profile.html(id=${request.host.idPerson})}"> <td th:text="${request.host.firstName}" /> </a>
    <br>
    <br>
    <br>
    <br>
</tr>
<br>
<br>
<br>
<br>

<h1>Incoming requests</h1>
<tr th:each="request: ${receivedRequests}">
    <label>status:</label>
    <td th:text="${request.status}" />
    <br>
    <label>start date:</label>
    <td th:text="${request.startDate}" />
    <br>
    <label>end date :</label>
    <td th:text="${request.endDate}" />
    <br>
    <label>traveler:</label>
    <a href="#" th:href="@{/hostAndTravel/profile.html(id=${request.traveler.idPerson})}"> <td th:text="${request.traveler.firstName}" /> </a>
    <br>
    <span th:if="${request.status == 'Pending'}">
        <input type="hidden" id="requestId" th:value="${requestId}" />
        <button id="acceptRequestBtn">Accept Request (Not working on backend)</button>
        <button id="declineRequestBtn">Decline Request (Not working on backend)</button>
    </span>

    <br>
    <br>
    <br>
</tr>
</body>
</html>
<script type="text/javascript">
    <!-- Include jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script type="text/javascript">
    //TODO NOT WORKING
    $(document).ready(function() {
        // Accept Request
        $("#acceptRequestBtn").click(function() {
            console.log("Accept Request button clicked!"); // Add this line
            var requestId = $("#requestId").val();

            var csrfToken = $("#csrfForm input[name='_csrf']").val();
            $.ajax({
                url: "/acceptRequest.html",
                type: "POST",
                data: {
                    id: requestId
                },
                beforeSend: function(xhr) {
                    xhr.setRequestHeader('X-CSRF-TOKEN', csrfToken);
                },
                success: function(response) {
                    window.location.href = "/hostAndTravel/requests.html";
                },
                error: function(xhr, status, error) {
                    console.log(error);
                }
            });
        });

        //TODO NOT WORKING
        // Decline Request
        $("#declineRequestBtn").click(function() {
            console.log("Decline Request button clicked!"); // Add this line
            var requestId = $("#requestId").val();

            $.ajax({
                url: "/declineRequest.html",
                type: "POST",
                data: {
                    id: requestId
                },
                beforeSend: function(xhr) {
                    xhr.setRequestHeader('X-CSRF-TOKEN', csrfToken);
                },
                success: function(response) {
                    window.location.href = "/hostAndTravel/requests.html";
                },
                error: function(xhr, status, error) {
                    console.log(error);
                }
            });
        });
    });
</script>

</script>